<ul class='nav nav-pills'>
  <li class='active'>
    <a href='#'>Profile</a>
  </li>
  <li>
    <a href='#'>Messages</a>
  </li>
  <li>
    <a href='#'>Reports</a>
  </li>
</ul>

<h4>Child</h4>
<ul class='thumbnails'>
  <li class='span5'>
    <div class='thumbnail row-fluid'>
      <div class='span4'>
        <%= image_tag 'stock/child.jpg' %>
      </div>
      <div class='span8'>
        <h4>Nicole Rossi</h4>
        <dl>
          <dd>Age:</dd>
          <dt>4</dt>
        </dl>
        <dl>
          <dd>Classroom:</dd>
          <dt>Grandi</dt>
        </dl>
        <dl>
          <dd>Enrollment status:</dd>
          <dt>Applicant</dt>
        </dl>
      </div>
      <a href='#'><i class='icon-user'></i></a>
    </div>
  </li>
</ul>

<h4>Parents</h4>
<ul class='thumbnails'>
  <li class='span5'>
    <div class='thumbnail row-fluid'>
      <div class='span4'>
        <%= image_tag 'stock/mom.jpg' %>
      </div>
      <div class='span8'>
        <h4>Sara Rossi</h4>
        <dl>
          <dd>Home phone:</dd>
          <dt>650.174.9238</dt>
        </dl>
        <dl>
          <dd>Cell phone:</dd>
          <dt>650.897.4352</dt>
        </dl>
        <dl>
          <dd>Work phone:</dd>
          <dt>415.987.3244</dt>
        </dl>
        <dl>
          <dd>Email:</dd>
          <dt>sara@rossi-family.com</dt>
        </dl>
      </div>
      <a href='#'><i class='icon-user'></i></a>
    </div>
  </li>
  <li class='span5 offset1'>
    <div class='thumbnail row-fluid'>
      <div class='span4'>
        <%= image_tag 'stock/dad.jpg' %>
      </div>
      <div class='span8'>
        <h4>Alberto Rossi</h4>
        <dl>
          <dd>Home phone:</dd>
          <dt>650.174.9238</dt>
        </dl>
        <dl>
          <dd>Email:</dd>
          <dt>alberto@rossi-family.com</dt>
        </dl>
      </div>
      <a href='#'><i class='icon-user'></i></a>
    </div>
  </li>
</ul>